.footer{
    width: 100%;
    background-color:#4c4c4c;
    margin: auto;
}
.top{
    display: flex;
    flex-wrap: nowrap;

}
.top_item{
    width: 25%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 50px;
}
.top_item img{
    width: 100%;
}
.btn_search{
    background-color: #f15e2c;
    border: none;
    color: white;
    padding: 10px;
    font-size: 100%;
    width: 70%;
    margin: 0 auto;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    font-weight: 700;
}
.title{
    color: white;
    font-size: 1.3em;
    text-decoration: none;
    font-weight: 750;
    width: 100%;
}